@model ProjectManagementSystem.Models.ViewModels.AccountViewModels.TaskViewModel

<h2>Create New Task</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div id="error-message" class="alert alert-danger" style="display: none"></div>
            @if (TempData["ErrorMessageForDeveloperTasks"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessageForDeveloperTasks"]</div>
                TempData["ErrorMessageForDeveloperTasks"] = null; // set error message to null
            }
            @if (ViewBag.ProjectList == null || ViewBag.ProjectList.Count == 0)
            {
                <div class="alert alert-danger">
                    There are no active projects. Task cannot be created.
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <label asp-for="Name">Name of the Task</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Description" class="form-control" placeholder="Name" />
                <label asp-for="Description" class="control-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-floating mb-3">
            @Html.DropDownList("managerId", new SelectList(ViewBag.ManagerList, "Id", "Fullname"), "Select Project Manager", new { @class = "form-control select2" })
            <label asp-for="ManagerId">Open this menu to select Project Manager</label>
            <span asp-validation-for="ManagerId" class="text-danger"></span>
        </div>*@
            <div class="form-floating mb-3">
                @Html.DropDownList("developerId", new SelectList(ViewBag.DeveloperList, "Id", "Fullname"), "Select Developer", new { @class = "form-control select2" })
                <label asp-for="DeveloperId" class="control-label">Open this menu to select Developer</label>
                <span asp-validation-for="DeveloperId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Deadline" class="form-control" placeholder="Name" />
                <label asp-for="Deadline" class="control-label"></label>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                @Html.DropDownList("projectId", new SelectList(ViewBag.ProjectList, "Id", "Name"), "Select Project", new { @class = "form-control select2", required = "required", data_val = "true", data_val_required = "Project is required field." })   
                <label asp-for="ProjectId" class="control-label">Project</label>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="w-100 btn btn-lg btn-primary mb-3" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }

    }
