@model ProjectManagementSystem.Models.DomainModels.Project

<h2>Edit this project</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input asp-for="Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <label asp-for="Name" class="control-label">Edit name of the Project</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                @Html.DropDownList("managerId", new SelectList(ViewBag.ManagerList, "Id", "Fullname", ViewBag.ProjectManagerId), new { @class = "form-control select2" })
                <label asp-for="ProjectManagerId">Open this menu to change Project Manager</label>
                <span asp-validation-for="ProjectManagerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="w-100 btn btn-lg btn-primary mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}

